@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* yakshit swiper 2*/
.swiper-pagination-clickable .swiper-pagination-bullet {
  content: "";
  background: url(/img/inactive-sidebar-pagination.png);
  background-size: contain;
  display: inline-block;
  opacity: 100%;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  content: "";
}

.swiper-pagination-bullet-active::before {
  content: "";
  background: transparent url(/img/active-sidebar-pagination.png);
  background-size: contain;
  display: inline-block;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  top: 530px !important
}

/* swiper 2 end */